.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #ececec;
  text-align: justify;
}

main footer {
  padding-left: 100px;
  padding-right: 100px;
}

footer {
  background-color: #ff914d;
  color: #f2f2f2;
  overflow: hidden;
  margin-left: -40px;
  border-top: #183149 solid 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  }

h1 {
    text-align: center;
    font-size: 90px;
}

h2 {
    text-align: center;
    font-size: 50px;
}

h1, h2 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #183149;
}

p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #183149;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff914d;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}


.topnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  background: linear-gradient(to right, #ff914d, #e28246);
  overflow: hidden;
  margin-top: -10px;
  margin-left: -40px;
  margin-right: -40px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
        
.topnav a {
  float: left;
  color: #ffffff;
  text-align: left;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.5s ease, color 0.5s ease;
    }
.topnav a:hover {
  padding-top: 15px;
  transition: 0.5s ease-in-out;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  color: #183149;
  transition: all 0.3s ease-in-out;
  
}

main {
  color: #183149;
  padding-left: 160px;
  padding-right: 160px;
}

footer {
  color: #183149;
  padding-left: 160px;
  padding-right: 160px;
}

ul li {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #183149;
  font-size: 30px;
}

.defined {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #183149;
  font-size: 40px;
}

dl dt {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #183149;
  font-size: 40px;
}

dd {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #183149;
  font-size: 30px;
}

figure{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top : 20px;
  padding-bottom : 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  display: block;
  margin-left: -30px;
  margin-right: auto;
  width: min(90vw, 800px);
  max-width: 800px;
  height: auto;
  border-radius: 10px;
}

.offset-figcaption {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #183149;
  margin-left: -30px;
}

.foota:hover {
  color: #f2f2f2;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

